body{

background-color:#fadbe0

}


img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

nav {
    background-color: #ffb6c1;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
     font-family: 'Fredoka One', cursive;
    font-size: 18px;
}

nav a:hover {
    color: rgb(246, 118, 169);
}





